<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .button-container {
        display: flex;
        gap: 10px;
    }
</style>
<body>
<form method="POST">
    <label for="login">Введите ваш логин:</label>
    <input type="text" id="login" name="login" required><br><br>

    <label for="password">Введите ваш пароль:</label>
    <input type="password" id="password" name="password" required><br><br>

    <div>
        <button type="submit">Зарегистрироваться</button>
        <a th:href="@{/login}"><button type="button">Войти</button></a>
    </div>
</form>
</body>
</html>